 :root {
    --primary: #C96CC4;
    --primary-hover: #D195CB;
    --primary-light: #f1afef;
    --primary-dark: #B43EAE;
    --secondary: #7FB4DC;
    --secondary-dark: #A4C8E3;
    --secondary-light: #A7DAFF;
    --aux: #98795A;
    --aux-dark: #84674A;
    --aux-light: #BF9C7D;
    --font-dark: #6D6C6C;
    --font-light: #ffffff;
    --disabled: #B8B8B8;
    --background-capa: #A7DAFF;
    --card-size: 400px;
}