:root {
    --primary-light: #DCF2DE;
    --secondary-light: #eacd97;
    --primary: #6CACAA;
    --primary-hover: #78D6CC;
    --font-dark: #6D6C6C;
    --font-light: #ffffff;
    --primary-dark: #38A89C;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    overflow-y: scroll;
}

p, li {
    font-size: 1em;
    color: var(--font-dark);
}

p.rodape {
    font-size: small;
}

hr.line {
    border: solid 1px;
    opacity: 1;
}

/* IDs */

#corpo {
    margin-right: 300px !important;
}

/* CORES, BACKGROUND e FONTE */

.bold {
    font-weight: 700;
}

.bg-default {
    background-color: var(--font-light);
}

.background-capa {
    background-color: var(--primary-light);
    align-items: center;
    display: flex;
}

.background-topico {
    background: linear-gradient(119.17deg, #268d83 21.23%, rgb(90, 206, 204) 67.91%);
    border: 2em solid white;
}

.text-primary {
    color: var(--primary) !important; 
}

.text-dark,
h5, h4, h3, h2, h1, small {
    color: var(--font-dark) !important;
}

.text-justify {
    text-align: justify !important;
}

.title-topico {
    font-size: 3em;
    font-weight: 700;

}

/* UTILITARIOS */

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em;
}

.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
}

.space-line {
    letter-spacing: 1px;
}

.citacao {
    border-style: solid;
    border-image: linear-gradient(to right, var(--primary-dark) 30%, transparent 30%) 1 0 0 0 stretch;
}

/* BOTAO */

.btn-1 {
    background-color: var(--primary);
    width: 40%;
    color: var(--font-light);
    border: none;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid var(--primary);
}

.btn-1:hover {
    background-color: var(--primary-hover) !important;
    border: 2px solid var(--secondary-light);
    color: var(--font-light);
}

.btn-popover {
    border: none;
    background-color: transparent;
    color: var(--primary-dark);
    text-decoration: underline;
}

.btn-popover:hover {
    color: var(--primary);
}

/* OUTROS */

.padding-container{
    padding: 3rem;
}

.line.line-primary  {
    border-color: var(--primary) !important;
}

.box-gradiente {
    background: linear-gradient(89.58deg, #6CACAA 13.41%, #78D6CC 96.79%);
    box-shadow: 0px 4px 4px rgba(20, 46, 82, 0.2);
}

.box {
    background: var(--primary-dark);
    box-shadow: 0px 4px 4px rgba(20, 46, 82, 0.2);
}

/* Saiba mais */
.box-saiba-mais {
    box-shadow: 0px 3px 4px rgba(20, 46, 82, 0.2);
    border-radius: 8px;
}

.title-saiba-mais {
    background: linear-gradient(89.58deg, #339A98 13.41%, #63C4BC 96.79%);
    border-radius: 8px 8px 0px 0px;
}

.seta-saiba-mais {
    background: #C4C4C4;
    transform: rotate(-180deg);
}

/* Popover */

#popover {
    position: absolute;
    display: none;
  }
  
  .popover-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .popover-top .popover-arrow {
    border-width: 8px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
    bottom: -8px;
    left: calc(50% - 8px);
  }
  
  .popover-right .popover-arrow {
    border-width: 8px 8px 8px 0;
    border-color: transparent #fff transparent transparent;
    top: calc(50% - 8px);
    left: -8px;
  }
  
  .popover-bottom .popover-arrow {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
    top: -8px;
    left: calc(50% - 8px);
  }
  
  .popover-left .popover-arrow {
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #fff;
    top: calc(50% - 8px);
    right: -8px;
  }
  
  .popover-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  

@media (max-width: 992px) {
    #corpo {
        margin-right: 0 !important;
    }

    .sidenav {
        margin-right: -300px;
    }

    .title {
        font-size: 1.4em;
    }

    .subtitle {
        font-size: 1em;
    }

    .btn-1 {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .background-capa {
        height: fit-content;
    }

    .padding-container{
        padding: 2rem !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .padding-mobile-2 {
        padding: 1.2rem!important;
    }

    .box-saiba-mais {
        height: 70px !important;
    }

    .box-saiba-mais {
        height: 70px !important;
    }

}

@media (min-width: 992px) {
    .padding-x-desk-5 {
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }

    .padding-desk-5 {
        padding: 3rem!important;
    }

    .padding-x-desk-3 {
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
}